{
  "name": "{{.ContainerName}}",
  "dockerComposeFile": "docker-compose.yml",
  "service": "app",
  "workspaceFolder": "{{.WorkspaceFolder}}",
  "remoteUser": "{{.RemoteUser}}",
  "postCreateCommand": "{{.CertInstallCommand}}"
}
